#title {
    font-size: 50px;
}
body {
    background: rgb(7, 6, 13);
    touch-action: manipulation;
    overflow: hidden;
}
body.anim {
    overflow: unset;
}
* {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
input[type=number] {
    width: 70vw;
    height: 10vh;
    font-size: 30px;
    background: #222;
    border: 2px solid #222;
    margin-bottom: 20px;
    padding-left: 3vw;
}
#main {
    text-align: center;
}
p#intro {
    width: 80vw;
    display: inline-block;
    text-align: left;
    font-size: 20px;
    margin-top: 0px;
}
button.play {
    width: 70vw;
    height: 10vh;
    font-size: 25px;
    background: #333;
    border: black 2px solid;
}
button:disabled {
    color: #777
}
#gamediv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 200vh;
}
#gamediv.anim {
    margin-top: unset;
    transition: ease-in-out 1.2s;
}
#start.anim {
    transform: translateX(-200vh);
    transition: ease-in-out 1s;
    position: absolute;
}

@keyframes appear {
    0% {
        font-size: 0;
    }
    90% {
        font-size: 27px;
    }
    100% {
        font-size: 22px;
    }
}

td {
    width: 30px;
    height: 35px;
    background: rgb(84, 81, 101);
    border-radius: 3px;
    text-align: center;
    font-size: 22px;
    text-transform: capitalize;
    transition: all 0.2s;
}

td.animate {
    animation: appear 0.1s;
}
td.animate + td:not(.animate), td.open:first-of-type:not(.animate) { /* cursor */
    background: rgb(127, 125, 144);
}

td.green {background: rgb(1, 135, 24);}
td.yellow {background: rgb(192, 163, 0);}
td.grey {background: rgb(72, 70, 87);}

td.empty {
    height: 10px;
    background-color: rgb(72, 70, 87);
}
td.clue {
    height: 30px;
}
table {
    display: inline-block;
    margin-bottom: 3vh;
}
#subtitle {
    display: inline-block;
    transform: translateX(-200vw);
    font-size: 18px;
    margin-bottom: 2vh;
}
#subtitle.anim {
    transform: unset;
    transition: ease-in-out 1.5s;
}
#keyboard {
    position: fixed;
    background: rgb(65, 64, 74);
    border-top: 1vh solid rgb(90, 88, 114);
    width: 100%;
    height: 30vh;
    bottom: -100vh;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    transition: bottom 0.5s;
}
#keyboard.anim {
    bottom: 0;
}
div.row {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.key {
    width: 9vw;
    height: 9vh;
    background: transparent;
    font-size: 6vw;
    padding: 0;
    border-radius: 20% / 10%;
    margin: 0.5vw;
    border: 0.1vw solid rgba(0, 0, 0, 0.11);
}
button.key.wide {
    flex-grow: 2;
}
#spacer {
    height: 33vh;
}
button.key.used.u, button.key.used.n {
    filter: brightness(40%);
}
#win, #settings {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #444;
    opacity: 0;
    display: none;
}
#win.anim, #settings.anim {
    display: unset;
    transition: opacity 0.2s ease-in-out;
}
#win.anim2, #settings.anim2 {
    opacity: 1;
}
span.close {
    width: 3vh;
    color: #222;
    position: absolute;
    top: 10px;
    right: 35px;
    cursor: pointer;
    font-size: 30px;
}
span.close:hover {
    color: #333;
}
select#keyloc {
    display: none;
}
button#practice {
    display: none;
    background-color: #777;
}
input[type=checkbox] {
    position: absolute;
    top: -1000vh;
}
input[type=checkbox]:checked ~ button {
    display: inline-block !important;
}
label {
    display: inline-block;
    background-color: #555;
    width: 10vw;
    height: 9.5vh;
    font-size: 6vw;
    line-height: 9.5vh;
    border: black 2px solid;
}
button {
    vertical-align: top;
    cursor: pointer;
}
#settingsbutton {
    position: absolute;
    top: 20px;
    right: 20px;
    color:rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
#settings:hover {
    color:rgba(255, 255, 255, 0.5);
}
p#settingsp {
    text-align: left;
    font-size: 22px;
}
select.setting {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    width: 80%;
    color: black;
    font-size: 20px;
}
.setting option {
    color: black;
    background: rgb(150, 150, 150);
}
tr.empty.c + tr.empty.c {
    display: none;
}
tr.open.c + tr.empty.c td:last-child::after {
    text-transform: lowercase;
    font-size: 13px;
    content: 'x' attr(data-guesses-left);
}
table.completed tr.empty.c {
    display: none;
}
@media not screen and (max-device-width: 480px) { /* desktop view */
    select#keyloc {
        display: unset;
        background: transparent;
        position: absolute;
        width: 1.5vw;
        height: 1.5vw;
        left: 0.6vw;
    }
    #keyloc option {
        font-family: 'Material Symbols Outlined';
        font-size: 20px;
        line-height: 1;
        color: black;
    }
    input[type=number] {
        width: 50vw;
        height: 8vh;
        padding-left: 2vw;
    }
    label {
        display: inline-block;
        width: 3vw;
        height: 9.5vh;
        background-color: #555;
        font-size: 2vw;
        line-height: 9.5vh;
        border: black 2px solid;
    }
    button#practice {
        width: 23vw;
    }
    button.play {
        width: 20vw;
        height: 10vh;
        background: #333;
        margin: auto 0;
    }
    #subtitle {
        margin-bottom: 2vh;
    }
    table {
        margin: .5vw;
    }
    #keyboard {
        width: 40vw;
        height: 25vh;
        border-right: 1vh solid rgb(69, 66, 92);
        border-radius: 0 20px 0 0;
    }
    #keyboard.right {
        border-radius: 20px 0 0 0;
        left: unset;
        right: 0;
        border-left: 1vh solid rgb(69, 66, 92);
        border-right: unset;
    }
    #keyboard.center {
        border-radius: 20px 20px 0 0;
        left: 50%;
        transform: translateX(-50%);
        border-left: 1vh solid rgb(47, 47, 63);
        border-right: 1vh solid rgb(69, 66, 92);
    }
    button.key {
        width: 3.5vw;
        height: 4.2vw;
        margin: 0.2vw;
        font-size: 2.2vw;
    }
    div.row {
        height: auto;
    }
    #win, #settings {
        width: 40vw;
        height: 85vh;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        border-radius: 5vw;
        border: 0.5vw solid #666;
        box-shadow: 0 3vh 5vh #222;
    }
    span.close {
        top: 30px;
        right: 30px;
    }
}