#title {
    font-size: 15vw;
}
body {
    background: #111;
}
* {
    color: white;
    font-family: 'Poppins', sans-serif;
}
input {
    width: 70vw;
    height: 10vh;
    font-size: 8vw;
    background: #222;
    border: 2px solid #222;
    margin-bottom: 20px;
    padding-left: 3vw;
}
#main {
    width: 100vw;
    height: 100vw;
    text-align: center;
}
p {
    width: 80vw;
    display: inline-block;
    text-align: left;
    font-size: 4vw;
    margin-top: 0px;
}
button#nameout {
    width: 70vw;
    height: 10vh;
    font-size: 6vw;
    background: #333;
}
button:disabled {
    color: #777
}
#gamediv.anim {
    margin-top: unset;
    transition: ease-in-out 1.2s;
}
#start.anim {
    transform: translateX(-200vh);
    transition: ease-in-out 1s;
    position: absolute;
}
td {
    width: 8.5vw;
    height: 8.5vw;
    border: 1px solid #aaa;
    text-align: center;
    font-size: 5.5vw;
    text-transform: capitalize;
}
td.empty {
    height: 3vw;
}
table {
    display: inline-block;
    margin-bottom: 3vh;
}
#gamediv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 200vh;
}
#subtitle {
    display: inline-block;
    transform: translateX(-200vw);
    font-size: 4.5vw;
    margin-bottom: 2vh;
}
#subtitle.anim {
    transform: unset;
    transition: ease-in-out 1.5s;
}
#keyboard {
    position: fixed;
    background: #444;
    border-top: 1vh solid #666;
    width: 100.5vw;
    height: 30vh;
    bottom: -100vh;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    transition: bottom 0.5s;
}
#keyboard.anim {
    bottom: 0;
}
div.row {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}
button.key {
    width: 9.5vw;
    height: 9vh;
    background: transparent;
    font-size: 6vw;
    border-radius: 20% / 10%;
    margin: 0.5vw;
    border: 0.4vw solid #4d4d4d;
}
button.key.wide {
    flex-grow: 2;
}
